*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

:root {
    --hue-neutral: pink;
    --hue-wrong: rgb(214, 82, 20);
    --hue-correct: #dd0fdd;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: var(--hue-neutral);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 600px; /* Adjust the width as desired */
    max-width: 80%;
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px; /* Increased padding for more space inside the container */
    box-shadow: 0 0 10px 2px;
    margin: 0 auto; /* Center the container horizontally */
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 9px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid var(--hue);
    padding: 15px 30px; /* Adjust the padding to increase button size */
    font-size: 16px; /* Adjust the font size as desired */
    width: 200px; /* Adjust the width as desired */
    height: 50px;
}

#Start-btn {
    background-color: aqua;
}

.btn:hover {
    border-color: #dd0fdd;
    background-color: aqua;
    color: white;
}

.btn.correct.btn {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.btn.wrong:hover {
    border-color: var(--hue-wrong);
    background-color: var(--hue-wrong);
    color: white;
}

.start-btn,
.next-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
}
